{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
    {% if user.role == "darbuotojas" %}


        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <div class="container">
            <div class="row"><br/>
                <div class="col text-center">
                    <h1>Darbuotojo puslapis</h1>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <div class="counter">
                        <i class="fa fa-clock-o fa-2x"></i>
                        <h2 class="timer count-title count-number">{{ valandos }}</h2>
                        <p class="count-text ">Atidirbtos valandos</p>
                    </div>
                </div>
                <div class="col">
                    <div class="counter">
                        <i class="fa fa-th-large fa-2x"></i>
                        <h2 class="timer count-title count-number">{{ dezes }}</h2>
                        <p class="count-text ">Dėžės</p>
                    </div>
                </div>
                <div class="col">
                    <div class="counter">
                        <i class="fa fa-money fa-2x"></i>
                        <h2 class="timer count-title count-number">{{ atlygis }}</h2>
                        <p class="count-text ">Atlygis</p>
                    </div>
                </div>
                <div class="col">
                    <div class="counter">
                        <i class="fa  fa-address-card-o fa-2x"></i>
                        <h2 class="timer count-title count-number">{{ ataskaitos }}</h2>
                        <p class="count-text ">Užpildytos ataskaitos</p>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>

        <a class="btn btn-primary" href="/dienos_ataskaita">Nauja Ataskaita</a>
    {% elif user.role == "vadybininkas" %}
        </br>
        <h1 align="center">Vadybininko puslapis</h1>
        </br>
        <label for="idInput">Filtruoti pagal darbuotojo Id:</label>
        <input type="text" id="idInput" class="form-control" onblur="idFiltravimoFunkcija()" placeholder="Darbuotojo Id..">
        </br>
        <label for="monthInput">Filtruoti pagal menesį:</label>
        <div style="display: flex; gap: 10px;">
            <input type="month" id="monthInput" onchange="menesiuFiltravimoFunkcija()" class="form-control">
            <button id="parsisiustiPagalMenesi" class="btn btn-primary" disabled onclick="">Parsisiųsti</button>
        </div>
        </br>
        <table id="myTable" class="table">
            <thead>
            <tr>
                <th>Darb. ID</th>
                <th>Data</th>
                <th>Valandos</th>
                <th>Dėžės</th>
                <th>Atlygis</th>
                <th>Veiksmai</th>
            </tr>
            </thead>
            <tbody>
            {% for darbuotojas in darbuotojai %}
                {% for ataskaita in darbuotojas.ataskaitos %}
                    <tr>
                        <td><input size="10" id="{{ 'darbId-{0:d}'.format(ataskaita.id) }}" class="form-control" style="border: none;" disabled value="{{ ataskaita.darbuotojo_id }}"></td>
                        <td><input size="number" id="{{ 'data-{0:d}'.format(ataskaita.id) }}" class="form-control" style="border: none;" disabled value="{{ ataskaita.data }}"></td>
                        <td><input size="number" id="{{ 'valandos-{0:d}'.format(ataskaita.id) }}" class="form-control" style="border: none;" disabled value="{{ ataskaita.atidirbtos_valandos }}"></td>
                        <td><input size="number" id="{{ 'dezes-{0:d}'.format(ataskaita.id) }}" class="form-control" style="border: none;" disabled value="{{ ataskaita.perkeltos_dezes }}"></td>
                        <td><input size="number" id="{{ 'atlygis-{0:d}'.format(ataskaita.id) }}" class="form-control" style="border: none;" disabled value="{{ ataskaita.atlygis }}"></td>
                        <td>
                            <div style="display: flex; font-size: large">
                            {% if ataskaita.patvirtinta == True %}
                                <sl-icon-button name="check-circle" style="color: green" label="Settings" disabled></sl-icon-button>
                            {% else %}
                                <sl-icon-button name="check-circle" onClick="patvirtintiAtaskaita({{ ataskaita.id }})" style="color: red" label="Settings"></sl-icon-button>
                            {% endif %}
                            {% if ataskaita.patvirtinta == True %}
                                <sl-icon-button name="pencil-square" label="Settings" disabled></sl-icon-button>
                            {% else %}
                                <sl-icon-button id="{{ 'redagavimo-mygtukas-{0:d}'.format(ataskaita.id) }}" name="pencil-square" onClick="redaguoti({{ ataskaita.id }})" label="Settings"></sl-icon-button>
                            {% endif %}
                            <sl-icon-button name="download" onClick="parsisiusti({{ ataskaita.id }})" ></sl-icon-button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <h1 align="center">Administratoriaus puslapis</h1>
        </br>
        <h2 align="center">Vartotojų tvirtinimas</h2>
        </br>
        <table id="adminTable" class="table">
            <thead>
            <tr>
                <th>Vartotojo ID</th>
                <th>Rolė</th>
                <th>Vardas</th>
                <th>Veiksmai</th>
            </tr>
            </thead>
            <tbody>
            {% for vartotojas in vartotojai %}
                <tr>
                    <td>{{ vartotojas.id }}</td>
                    <td>{{ vartotojas.role.capitalize() }}</td>
                    <td>{{ vartotojas.first_name }}</td>
                    <td>
                        <div style="display: flex; font-size: large">
                            {% if vartotojas.patvirtinta == True %}
                                <sl-icon-button name="check-circle" style="color: green" disabled></sl-icon-button>
                            {% else %}
                                <sl-icon-button name="check-circle" onClick="patvirtintiVartotoja({{ vartotojas.id }})" style="color: red"></sl-icon-button>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </br>
        <h2 align="center">Ataskaitų tvarkymas</h2>
        </br>
        <table id="myTable" class="table">
            <thead>
            <tr>
                <th>Darb. ID</th>
                <th>Data</th>
                <th>Valandos</th>
                <th>Dėžės</th>
                <th>Atlygis</th>
                <th>Veiksmai</th>
            </tr>
            </thead>
            <tbody>
            {% for darbuotojas in darbuotojai %}
                {% for ataskaita in darbuotojas.ataskaitos %}
                    {% if ataskaita.patvirtinta == True %}
                        <tr>
                            <td><input size="10" id="{{ 'darbId-{0:d}'.format(ataskaita.id) }}" class="form-control" style="border: none;" disabled value="{{ ataskaita.darbuotojo_id }}"></td>
                            <td><input size="number" id="{{ 'data-{0:d}'.format(ataskaita.id) }}" class="form-control" style="border: none;" disabled value="{{ ataskaita.data }}"></td>
                            <td><input size="number" id="{{ 'valandos-{0:d}'.format(ataskaita.id) }}" class="form-control" style="border: none;" disabled value="{{ ataskaita.atidirbtos_valandos }}"></td>
                            <td><input size="number" id="{{ 'dezes-{0:d}'.format(ataskaita.id) }}" class="form-control" style="border: none;" disabled value="{{ ataskaita.perkeltos_dezes }}"></td>
                            <td><input size="number" id="{{ 'atlygis-{0:d}'.format(ataskaita.id) }}" class="form-control" style="border: none;" disabled value="{{ ataskaita.atlygis }}"></td>
                            <td>
                                <div style="display: flex; font-size: large">
                                    <sl-icon-button name="check-circle" style="color: green" label="Settings" disabled></sl-icon-button>
                                    <sl-icon-button id="{{ 'redagavimo-mygtukas-{0:d}'.format(ataskaita.id) }}" name="pencil-square" onClick="redaguoti({{ ataskaita.id }})" label="Settings"></sl-icon-button>
                                    <sl-icon-button name="download" onClick="parsisiusti({{ ataskaita.id }})" ></sl-icon-button>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
        <br />
        <h2 align="center">Įkainiai</h2>
        <br />
        <table id="ikainiuTable" class="table">
            <thead>
            <tr>
                <th>Įkainio ID</th>
                <th>Galioja Nuo</th>
                <th>Valandinis</th>
                <th>Dėžių kiekis</th>
                <th>Darbuotojai</th>
            </tr>
            </thead>
            <tbody>
            {% for ikainis in ikainiai %}
                <tr>
                    <td>{{ ikainis.id }}</td>
                    <td>{{ ikainis.data }}</td>
                    <td>{{ ikainis.valandinis }}</td>
                    <td>{{ ikainis.atlygis_uz_deze }}</td>
                    <td>{% for darbuotojas in ikainis.darbuotojai %}
                            {{ darbuotojas.id }}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br />
        <a class="btn btn-primary" href="/ikainis" >Naujas Įkainis</a>
        <br />
    {% endif %}
{% endblock %}
