{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
    {% if user.role == "darbuotojas" %}


        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <div class="container">
            <div class="row"><br/>
                <div class="col text-center">
                    <h1>Darbuotojo puslapis</h1>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <div class="counter">
                        <i class="fa fa-clock-o fa-2x"></i>
                        <h2 class="timer count-title count-number">{{ valandos }}</h2>
                        <p class="count-text ">Atidirbtos valandos</p>
                    </div>
                </div>
                <div class="col">
                    <div class="counter">
                        <i class="fa fa-th-large fa-2x"></i>
                        <h2 class="timer count-title count-number">{{ dezes }}</h2>
                        <p class="count-text ">Dezes</p>
                    </div>
                </div>
                <div class="col">
                    <div class="counter">
                        <i class="fa fa-money fa-2x"></i>
                        <h2 class="timer count-title count-number">{{ atlygis }}</h2>
                        <p class="count-text ">Atlygis</p>
                    </div>
                </div>
                <div class="col">
                    <div class="counter">
                        <i class="fa  fa-address-card-o fa-2x"></i>
                        <h2 class="timer count-title count-number">{{ ataskaitos }}</h2>
                        <p class="count-text ">Uzpildytos ataskaitos</p>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>

        <a class="btn btn-primary" href="/dienos_ataskaita">Nauja Ataskaita</a>
    {% elif user.role == "vadybininkas" %}
        </br>
        <h1 align="center">Vadybininko puslapis</h1>
        </br>
        <label for="idInput">Filtruoti pagal darbuotojo Id:</label>
        <input type="text" id="idInput" class="form-control" onblur="idFiltravimoFunkcija()" placeholder="Darbuotojo Id..">
        </br>
        <label for="monthInput">Filtruoti pagal menesi:</label>
        <input type="month" id="monthInput" onchange="menesiuFiltravimoFunkcija()" class="form-control">
        </br>
        <table id="myTable" class="table">
            <thead>
            <tr>
                <th>Darb. ID</th>
                <th>Data</th>
                <th>Valandos</th>
                <th>Dezes</th>
                <th>Atlygis</th>
                <th>Veiksmai</th>
            </tr>
            </thead>
            <tbody>
            {% for darbuotojas in darbuotojai %}
                {% for ataskaita in darbuotojas.ataskaitos %}
                    <tr>
                        <td><input size="10" id="{{ 'darbId-{0:d}'.format(ataskaita.id) }}" class="form-control" style="border: none;" disabled value="{{ ataskaita.darbuotojo_id }}"></td>
                        <td><input size="number" id="{{ 'data-{0:d}'.format(ataskaita.id) }}" class="form-control" style="border: none;" disabled value="{{ ataskaita.data }}"></td>
                        <td><input size="number" id="{{ 'valandos-{0:d}'.format(ataskaita.id) }}" class="form-control" style="border: none;" disabled value="{{ ataskaita.atidirbtos_valandos }}"></td>
                        <td><input size="number" id="{{ 'dezes-{0:d}'.format(ataskaita.id) }}" class="form-control" style="border: none;" disabled value="{{ ataskaita.perkeltos_dezes }}"></td>
                        <td><input size="number" id="{{ 'atlygis-{0:d}'.format(ataskaita.id) }}" class="form-control" style="border: none;" disabled value="{{ ataskaita.atlygis }}"></td>
                        <td>
                            <div style="display: flex; font-size: large">
                            {% if ataskaita.patvirtinta == True %}
                                <sl-icon-button name="check-circle" style="color: green" label="Settings" disabled></sl-icon-button>
                            {% else %}
                                <sl-icon-button name="check-circle" onClick="patvirtinti({{ ataskaita.id }})" style="color: red" label="Settings"></sl-icon-button>
                            {% endif %}
                            {% if ataskaita.patvirtinta == True %}
                                <sl-icon-button name="pencil-square" label="Settings" disabled></sl-icon-button>
                            {% else %}
                                <sl-icon-button id="{{ 'redagavimo-mygtukas-{0:d}'.format(ataskaita.id) }}" name="pencil-square" onClick="redaguoti({{ ataskaita.id }})" label="Settings"></sl-icon-button>
                            {% endif %}
                            <sl-icon-button name="download" onClick="parsisiusti({{ ataskaita.id }})" ></sl-icon-button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <h1 align="center">Notes</h1>
        <ul class="list-group list-group-flush" id="notes">
            {% for note in user.notes %}
                <li class="list-group-item">
                    {{ note.data }}
                    <button type="button" class="close" onClick="console.log('hel')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
            {% endfor %}
        </ul>
        <form method="POST">
            <textarea name="note" id="note" class="form-control"></textarea>
            <br/>
            <div align="center">
                <button type="submit" class="btn btn-primary">Add Note</button>
            </div>
        </form>
    {% endif %}
{% endblock %}
