{% extends "base.html" %} {% block title %}Ikainis{% endblock %} {% block content %}
    <h1 align="center">Ikainis</h1>
    <form method="POST">
        <label for="data">Galioja nuo</label>
        <input type="date" name="data" id="data" class="form-control"></input>
        <br />
        <label for="darbo_valandos">Valandinis</label>
        <input type="number" name="valandinis" step="0.01" class="form-control" value="0"></input>
        <br />
        <label for="deziu_kiekis">Deziu kiekis</label>
        <input type="number" name="deziu_kiekis" id="deziu_kiekis" class="form-control" value=0></input>
        <br />
        <label for="pasirinkti_darbuotojus">Pasirinkti darbuotojus</label>
        <br />
            <select class="form-select" style="width: 1130px" name="pasirinkti_darbuotojus" multiple>
                {% for darbuotojas in darbuotojai %}
                    <option value="{{darbuotojas.id}}">Id: {{ darbuotojas.id }}. {{darbuotojas.vardas}}</option>
                {% endfor %}
            </select>
        <br />
        <br />
        <div align="center">
            <button type="submit" class="btn btn-primary">Pateikti Ikaini</button>
        </div>
    </form>
{% endblock %}
